<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q39D976QX4"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'G-Q39D976QX4');
</script>

{{ $themeOverrides := resources.Get "sass/theme-overrides.scss" }}
{{ if $themeOverrides }}
{{ $processed := $themeOverrides | css.Sass | minify | fingerprint }}
<link rel="stylesheet" href="{{ $processed.Permalink }}">
{{ end }}

{{ $catppuccin := resources.Get "sass/catppuccin-mocha.scss" }}
{{ if $catppuccin }}
{{ $processed := $catppuccin | css.Sass | minify | fingerprint }}
<link rel="stylesheet" href="{{ $processed.Permalink }}">
{{ end }}

{{ if eq .Section "til" }}
{{ $tilStyles := resources.Get "sass/til-page.scss" }}
{{ if $tilStyles }}
{{ $processed := $tilStyles | css.Sass | minify | fingerprint }}
<link rel="stylesheet" href="{{ $processed.Permalink }}">
{{ end }}
{{ end }}