<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <title>
        Home | {{ .Site.Params.author.name }}
    </title>

    {{ partial "head.html" . }}

</head>

<body>

    <div class="flexWrapper">
        {{ partial "header.html" . }}

        <div class="content vertical">
            <main class="main">
                <div class="indexWrapper">
                    <div>
                        <h1 class="indexHeader">{{ .Site.Params.author.name }}</h1>
                        <h4 class="indexSubheader">{{ .Site.Params.description }}</h4>
                    </div>
                    {{ partial "social.html" . }}
                </div>
            </main>
        </div>


        {{ partial "footer.html" . }}
    </div>

    {{ partial "terminal.html" . }}

</body>

</html>